@import "./imports/variables";
//@import "~bootstrap/scss/bootstrap";

$custom-colors: (
        "wikiarchives-dark": $wikiarchives-dark,
        "wikiarchives-dark-2": $wikiarchives-dark-2,
        "wikiarchives-primary": $wikiarchives-primary,
        "wikiarchives-danger": $wikiarchives-danger,
        "wikiarchives-white": $wikiarchives-white,
        "wikiarchives-accent": $wikiarchives-accent,
);

$link-color:$wikiarchives-primary;
$component-active-bg:$wikiarchives-primary;
// Then add additional custom code here

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
// 2. Include any default variable overrides here
// Create your own map

// Merge the maps
//$utilities-colors: map-merge($utilities-colors, $custom-colors);
$theme-colors: map-merge($theme-colors, $custom-colors);

// 3. Include remainder of required Bootstrap stylesheets

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";


@import "~noty/src/noty";
@import "~noty/src/themes/bootstrap-v4";

@import "./mixins/bubble";

.admin-top-nav {
  background-color: $dark;

  ul {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;

    li {
      list-style: none;
    }
  }
}