@import "assets/admin/lib/vakata-jstree/src/themes/default/style";
@import "~filepond/dist/filepond.min";

.filepond--item {
  width: calc(20% - 0.5em);
}

.filepond--root {
  max-height: 300px !important;
  overflow: hidden;
}

.filepond--list {
  max-height: 300px;
  overflow-y: scroll;
}