{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-dark">
                        <p>
                            If an account matching your email exists, then an email was just sent that contains a link
                            that you can use to reset your password.
                            This link will expire
                            in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
                            .
                        </p>
                        <p>If you don't receive an email please check your spam folder or
                            <a href="{{ path('APP_FORGOT_PASSWORD_REQUEST') }}">try again</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
