<form method="post" action="{{ path('ACTUALITY_ACTUALITY_DELETE', {'id': actuality.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actuality.id) }}">
    <button class="btn btn-daner">{{ 'actions.delete'|trans([],'admin') }}</button>
</form>
