{% extends 'base-admin.html.twig' %}

{% block title %}Catalog index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h2>Arborescence</h2>
                        <button class="btn btn-success btn-sm add-root-catalog mb-3">
                            Ajouter un dossier racine
                        </button>
                        {% include 'catalog/catalog/includes/_tree-catalog.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body">
                        <form method="POST">
                            <input type="file" class="filepond" name="filepond" data-allow-remove="true">
                        </form>
                        <div class="catalog-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {# new Catalog #}
    <div class="modal fade" id="catalogModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin-tree') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin-tree-js') }}
{% endblock %}