{% extends 'base-admin.html.twig' %}

{% block title %}Nouveau catalogue - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nouveau catalogue</h1>

        {{ include('catalog/catalog/_form.html.twig') }}

        <a href="{{ path('ADMIN_CATALOG_CATALOG_INDEX') }}" class="btn btn-primary">Revenir au listing</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('wysiwyg-js') }}
{% endblock %}