{% extends 'base.html.twig' %}

{% block body %}
    {% include 'includes/catalog/_catalog-banner.html.twig' %}
    {% include 'includes/catalog/_catalog-status-bar.html.twig' %}
    <div class="container-fluid">
        <div class="row g-3 my-3">
            {% for child in catalog.children %}
                <div class="col-12 col-md-1">
                    {% include 'includes/catalog/_catalog-card.html.twig' with{catalog:child} %}
                </div>
            {% endfor %}
        </div>
        {% if pagination.getTotalItemCount > 0 %}
            <hr>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div class="row g-3 my-3">
                {% for picture in pagination %}
                    <div class="col-12 col-md-1">
                        {% include 'includes/catalog/_picture-card.html.twig' %}
                    </div>
                {% endfor %}
            </div>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
