{% extends 'base.html.twig' %}

{% block body %}
    {% include 'includes/catalog/_catalog-banner.html.twig' %}
    <div class="container-fluid">
        {% include 'includes/catalog/_breadcrumb.html.twig' with {object:catalog} %}
        <div class="row g-3 my-3">
            {% for child in catalog.children %}
                <div class="col-12 col-md-1">
                    {% include 'includes/catalog/_catalog-card.html.twig' with{catalog:child} %}
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row g-3 my-3">
            {% for picture in catalog.pictures %}
                <div class="col-12 col-md-1">
                    {% include 'includes/catalog/_picture-card.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
