{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row row-cols-auto row-cols-lg-5 g-3 my-3">
            {% for catalog in roots %}
                <div class="col">
                    {% include 'includes/catalog/_catalog-card.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
