{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Recherche{% endblock %}

{% block body %}
    {% if catalog %}
        {% include 'includes/catalog/_catalog-banner.html.twig' %}
        {% include 'includes/catalog/_catalog-status-bar.html.twig' %}
    {% endif %}
    <div class="container-fluid">
        <div class="row g-3 my-3">
            {% for child in catalogs %}
                <div class="col-12 col-md-1">
                    {% include 'includes/catalog/_catalog-card.html.twig' with{catalog:child} %}
                </div>
            {% endfor %}
        </div>
        {% if pagination.getTotalItemCount > 0 %}
            <hr>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div class="row g-3 my-3">
                {% for picture in pagination %}
                    <div class="col-12 col-md-1">
                        {% include 'includes/catalog/_picture-card.html.twig' %}
                    </div>
                {% endfor %}
            </div>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>

    {#<div class="container">

        <div class="accordion" id="accordionQuery">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingCatalog">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCatalog" aria-controls="collapseCatalog">
                        Catalog
                    </button>
                </h2>
                <div id="collapseCatalog" class="accordion-collapse collapse" aria-labelledby="headingCatalog" data-bs-parent="#accordionQuery">
                    <div class="accordion-body">
                        <div class="row row-cols-auto row-cols-lg-5 g-3 my-3">
                            {% for catalog in catalogs %}
                                <div class="col">
                                    {% include 'includes/catalog/_catalog-card.html.twig' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingPicture">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePicture" aria-controls="collapsePicture">
                        Pictures
                    </button>
                </h2>
                <div id="collapsePicture" class="accordion-collapse collapse" aria-labelledby="headingPicture" data-bs-parent="#accordionQuery">
                    <div class="accordion-body">
                        <div class="row row-cols-auto row-cols-lg-5 g-3 my-3">
                            {% for picture in pictures %}
                                <div class="col">
                                    {% include 'includes/catalog/_picture-card.html.twig' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>#}
{% endblock %}
