{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row row-cols-auto row-cols-lg-5 my-3">
            {% for catalog in catalogs %}
                <div class="col">
                    {% include 'includes/catalog/_catalog-card.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row row-cols-auto row-cols-lg-5 g-3">
            {% for picture in pictures %}
                <div class="col">
                    {% include 'includes/catalog/_picture-card.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
