<form method="post" action="{{ path('ADMIN_CATALOG_PLACE_DELETE', {'id': place.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ place.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
