{% macro breadcrumb(breadcrumb) %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            {% for breadcrumbLink in breadcrumb.linksReversed %}
                <li class="breadcrumb-item{{ breadcrumbLink.link?'':' active' }}">
                    <a href="{{ breadcrumbLink.link }}">
                        {{ breadcrumbLink.title }}
                    </a>
                </li>
            {% endfor %}
        </ol>
    </nav>
{% endmacro %}