<div class="picture-card rounded">
    <a href="{{ path('PICTURE', {'catalogId':picture.catalog.id,'id': picture.id}) }}" title="{{ picture.name }}">
        <img src="{{ picture.file.imageName|imagine_filter('picture_card_listing') }}"
             class="img-fluid" alt="{{ picture.name }}">
    </a>
</div>