$wikiarchives-dark: #272b30;
$wikiarchives-dark-2: darken($wikiarchives-dark, 10);

// palette 1
//$wikiarchives-primary: #0090C1;
//$wikiarchives-danger: #990033;
//$wikiarchives-white: #EDF7F6;
//$wikiarchives-accent: #D6A184;

// palette 2
$wikiarchives-primary: #677DB7;
$wikiarchives-danger: #990033;
$wikiarchives-white: #EDF7F6;
$wikiarchives-accent: #D1C6AD;



