<form method="post" action="{{ path('ADMIN_CATALOG_PICTURE_DELETE', {'id': picture.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir {{ 'actions.delete'|trans([],'admin') }} cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
    <button class="btn btn-danger">{{ 'actions.delete'|trans([],'admin') }}</button>
</form>
