{% extends 'base-admin.html.twig' %}

{% block title %}Ajout d'une photo - {{ parent() }}{% endblock %}
{% block bodytitle %}Ajout d'une photo{% endblock %}

{% block body %}
{#        <a href="{{ path('ADMIN_CATALOG_PICTURE_INDEX') }}" class="btn btn-primary mb-3">Revenir au listing</a>#}

        {{ include('catalog/picture/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('wysiwyg-js') }}
{% endblock %}