{% extends 'base-admin.html.twig' %}

{% block title %}New Picture{% endblock %}

{% block body %}
    <h1>Create new Picture</h1>

    {{ include('catalog/picture/_form.html.twig') }}

    <a href="{{ path('ADMIN_CATALOG_PICTURE_INDEX') }}">back to list</a>
{% endblock %}
