{% extends 'base-admin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new User</h1>

        {{ include('user/_form.html.twig') }}

        <a href="{{ path('ADMIN_USER_INDEX') }}" class="btn btn-primary">Revenir au listing</a>
    </div>
{% endblock %}
