$width: 25px;

.bubbles {
  position: absolute;
  top: 0;
  right: -10px;
  transform: translateY(-50%);
  display: flex;
  z-index: 10;

  &.bubbles-stacked {
    border-radius: 20px;
    overflow: hidden;

    .bubble {
      border-radius: 0;
      margin-left: 0;
    }
  }

  .bubble {
    border-radius: 20px;
    margin-left: 2px;
    //width: $width;
    padding: 0 10px;
    height: $width;
    font-size: .8rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    @each $state, $value in $theme-colors {
      &.bubble-#{$state} {
        background-color: $value;
        color: color-contrast($value);
      }
    }
  }

  a.bubble {
    @each $state, $value in $theme-colors {
      &.bubble-#{$state} {
        transition: .2s;

        &:hover {
          background-color: lighten($value, 20);
          color: color-contrast(lighten($value, 20));
        }
      }
    }
  }
}
